@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


header {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 1.5rem 2rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    padding: 1rem 0;
    list-style: none;
}

.list-items {
    display: flex;
    gap: 1rem;
}

.list-items li a {
    font-family: 'Barlow', sans-serif;
    color: white;
    padding: 0.75rem 1rem;
}

.list-items li:nth-of-type(4) a {
    color: black;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    border-radius: 2rem;
    background-color: white;
}


.hero {
    display: flex;
    justify-content: center;
    background: url('./images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.hero h1 {
    margin-top: 12rem;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.hero img {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    grid-template-areas: 'transform transformimg'
        'standoutimg standout'
        'graphicdesign photography';
}

.transform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 5rem;
}

.transform h1,
.standout h1 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.transform p,
.standout p {
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
    color: slategray;
}

.transform a {
    color: black;
    width: 120px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    border-bottom: 2px solid yellow;
}

.transformimg {
    display: flex;
    width: 100%;
}

.transformimg img {
    width: 100%;
    ;
}

.standoutimg {
    overflow: hidden;
}

.standoutimg img {
    width: 100%;
    height: 100%;
}

.standout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 5rem;
}

.standout a {
    color: black;
    width: 120px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(188, 143, 143, 0.783);
}

.graphicdesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    padding-top: 50%;
    padding-bottom: 2rem;
    background: url('./images/desktop/image-graphic-design.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphicdesign p,
.photography p {
    text-align: center;
    width: 50%;
}

.graphicdesign h1 {
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.graphicdesign p {
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
}

.photography h1 {
    color: hsl(198, 62%, 26%);
    font-family: 'Fraunces', serif;
}

.photography p {
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
}

.photography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    padding-top: 50%;
    padding-bottom: 2rem;
    background: url('./images/desktop/image-photography.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials {
    padding: 5rem 0;
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-width: 960px;
    margin: auto;
}

.testimonials h1 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: rgba(112, 128, 144, 0.598);
}

.testi-grid {
    margin: 2.5rem 0;
    font-family: 'Barlow', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.grid-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.grid-item div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid-item p {
    color: rgb(112, 128, 144);
}

.grid-item div p:nth-of-type(1) {
    font-size: 0.9rem;
    color: black;
    font-family: 'Fraunces', serif;
}

.grid-item div p:nth-of-type(2) {
    font-size: 0.8rem;
    color: rgba(112, 128, 144, 0.671);
}


.grid-item img {
    width: 50px;
    border-radius: 50%;
}


.images {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.images picture{
    display: flex;
    width: 100%;
}

.images picture img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    background-color: hsla(168, 34%, 41%, 0.655);
}

footer svg {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;

}

footer div:nth-of-type(1) {
    color: hsl(167, 40%, 24%);
    display: flex;
    gap: 2rem;
}

footer div:nth-of-type(1) a {
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
}

footer div:nth-of-type(2) {
    margin: 2rem 0;
    display: flex;
    gap: 1.5rem;
}

.hamburger {
    display: none;
}
.d-none{
    display: none;
}


@media screen and (max-width:800px) {
    header{
        overflow: hidden;
    }

    .hero h1{
        text-align: center;
    }
    .nav-links {
        height: 0;
        transition: height 0.3s ease;
        background-color: white;
        position: absolute;
        border-top-right-radius: 20px;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .list-items{
        position: relative;
        display: flex;
        gap:0.5rem;
        flex-direction: column;
    }

    .list-items li a{
        color: slategray;
    }

    .list-items li:nth-of-type(4) a{
        background-color:hsl(51, 100%, 49%);
    }


    .hamburger {
        display: block;
    }

    .hero {
        background: url('./images/mobile/image-header.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .grid {
        grid-template-areas: 'transformimg'
            'transform'
            'standoutimg'
            'standout'
            'graphicdesign'
            'photography';
        grid-template-columns: 1fr;
    }

    .transform {
        text-align: center;
        padding: 4rem 0;
        order:2;
        width: 100%;
    }
    .transform a,.standout a{
        display: block;
        margin: 0 auto;
    }
    .standoutimg{
        order:3;
    }
    .standout{
        text-align: center;
        padding: 4rem 0;
        order: 4;
        width: 100%;
    }
    .graphicdesign{
        background: url('./images/mobile/image-graphic-design.jpg');
        /* background-position: top; */
        background-position: center;
        background-size: cover;
        height: 100vh;
        justify-content: end;
        background-repeat: no-repeat;
        order:5;
    }

    .photography{
        background: url('./images/mobile/image-photography.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
        justify-content: end;
        background-repeat: no-repeat;
        order: 6;
    }

    .transformimg {
        width: 100%;
    }
    .testimonials{
        max-width: 500px;
    }   
    .testi-grid{
        grid-template-columns: repeat(1,1fr);
        gap:4rem;
    }

    .images{
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width:400px){
    html{
        font-size: 12px;
    }

}